[2019-02-20 17:51] lacava opened #2 "refactor validation scripts"
refactor validation scripts so that each method is validated with the same lines of code.

[2019-02-20 17:53] lacava opened #3 "measure complexity"
we should measure complexity of the final models produced by the methods. Since they all vary quite a bit, this isn't trivial. for the SR methods, we should be able to count the number of nodes (operators and literals) in the solutions.

[2019-02-20 18:02] lacava opened #4 "add methods"
add SR methods for comparison. the following come to mind:

[ ] [FFX](https://github.com/natekupp/ffx)
[ ] [Feat](https://github.com/lacava/feat)
[ ] [EFS](https://github.com/flexgp/efs)
[ ] [FEW](https://github.com/lacava/few)
[ ] [TPOT](https://github.com/EpistasisLab/TPOT)? Not symbolic regression per se but interesting to include.

[2019-02-20 18:04] lacava opened #5 "standing leaderboard"
keep a standing leaderboard of methods in the documentation. as new results/methods are developed, add them to the leaderboard.

[2019-03-04 15:24] jmmcd opened #6 "Complexity should refer to 'RandomForest', not 'RF'."
https://github.com/EpistasisLab/regression-benchmark/blob/fab59ab05e6d963e8a899ffe02a6f8e2e7e68d70/experiment/complexity.py#L17

[2019-03-04 15:25] jmmcd opened #7 "Complexity: 'features' does not exist"
https://github.com/EpistasisLab/regression-benchmark/blob/fab59ab05e6d963e8a899ffe02a6f8e2e7e68d70/experiment/complexity.py#L22

[2019-03-05 11:27] jmmcd commented on #4
Another one that would be very nice is PGE (Worm & Chiu, GECCO 2013).

[2019-03-05 16:59] lacava commented on #4
thanks, I'll reach out. doesn't look like it's being maintained.

[2019-04-03 15:29] lacava commented on #3
@jmmcd for FFXRegressor, is the # of nodes in the GP-equivalent tree given by `self._models[-1].complexity()` ? If not can you define it for us?

[2019-04-03 20:06] jmmcd commented on #3
Yes, that's right, see https://github.com/natekupp/ffx/blob/77cc110960828dcf66e0462170319bc69a8ce34c/ffx/core.py#L285

[2020-12-01 13:45] lacava commented on #4
- [ ] [operon](https://github.com/heal-research/operon)
- [ ] [differentiable CGP](https://github.com/darioizzo/dcgp)

[2020-12-01 14:03] #6 closed

[2020-12-01 14:05] #7 closed

[2020-12-11 20:19] folivetti commented on #4
if I may, my algorithm was just accepted for publication:

Paper: https://www.mitpressjournals.org/doi/abs/10.1162/evco_a_00285
Code: https://github.com/folivetti/ITEA

Even though the code is in Haskell, I have included a Python wrapper in my repository, similar to your wrappers. Let me know if I can be of any help!

[2020-12-21 19:49] lacava commented on #4
hi @folivetti , thanks for sharing. I'm going to be uploading a contributing guide soon that will detail how to include your method. Please stay tuned.

[2021-01-13 16:21] lacava commented on #4
hi @folivetti, please see the contributing guide on the dev branch: https://github.com/EpistasisLab/regression-benchmark/blob/dev/CONTRIBUTING.md

Eventually this will be merged into master (still working on some hiccups with existing methods), but if you would like to start now, you can issue a PR to contribute your method to the dev branch. Let me know if you have any questions!

[2021-01-14 11:54] folivetti commented on #4
thanks! I guess my code is already halfway through. As soon as I get the time to do so, I'll make the PR.

[2021-02-24 16:14] lacava opened #15 "add 'seed' to contributing as attribute to set"
https://github.com/EpistasisLab/regression-benchmark/blob/28e2310264d53ac387c4fb9c5576c18c30038ab9/experiment/evaluate_model.py#L24

[2021-02-24 16:15] lacava commented on #15
also set `np.seed(random_state)`

[2021-03-21 20:39] folivetti commented on #4
I finally took the time to implement the python wrapper for ITEA. I have one final question: my code is written in Haskell using `stack` as the project manager. Should I include the installation of stack into the install script or should I put this requirement in a README file?

To install the stack environment you only need to run `curl -sSL https://get.haskellstack.org/ | sh`, but it may require

[2021-03-21 21:54] lacava commented on #4
Sounds great. The entire install needs to be automated, so yes, any
installation requirement needs to be implemented. When the code is set and
you issue a PR, the repo is set up to test to make sure the installation
passes and a mini benchmark runs without error.

On Sun, Mar 21, 2021, 4:40 PM Fabricio Olivetti de Franca <
***@***.***> wrote:

[2021-03-22 15:57] lacava commented on #4
sudo is ok

also wanted to mention you can test the install locally, doing something like
[code]

also see the [github workflow](https://github.com/EpistasisLab/regression-benchmark/blob/master/.github/workflows/test.yml) for more info

[2021-04-06 16:07] folivetti opened #17 "evaluate_model.py: ValueError when number of samples > 10000"
In this line of code I'm getting the error ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all():

https://github.com/EpistasisLab/regression-benchmark/blob/967c66beec7e79ef53d6a3bb133190887224cfc1/experiment/evaluate_model.py#L36

I suggest changing it to:

[code]

[2021-04-06 16:14] folivetti opened #18 "Suggestion: option to not use standardization"
I've noticed that you're standardizing the predictors and target variable before fitting the regression models:

https://github.com/EpistasisLab/regression-benchmark/blob/967c66beec7e79ef53d6a3bb133190887224cfc1/experiment/evaluate_model.py#L47-L49

In my experience my algorithm works best without any normalization. I also tested a few datasets with KernelRidge with and without standardization and

[2021-04-14 14:57] lacava commented on #18
sounds reasonable. i'm working on adding a configurable option now.

[2021-04-14 15:31] folivetti opened #20 "Using X_train, X_test instead of X_train_scaled, X_test_scaled"
I think at this line you meant to be using X_train_scaled and X_test_scaled instead of X_train, X_test (X_test_scaled was created but never used).

https://github.com/EpistasisLab/regression-benchmark/blob/dfec2511daff6091dd011d5c0c43141a0dfa9895/experiment/evaluate_model.py#L131

[2021-04-14 15:53] #20 closed

[2021-04-14 15:54] lacava commented on #17
should be fixed in 884bb83

[2021-04-14 15:55] lacava commented on #17
or rather, fixed in deb3cce28fe879fdd8adfeeef58f237ecfa4b671.

[2021-04-14 15:55] #17 closed

[2021-04-14 16:02] lacava commented on #18
you can now specify eval_kwargs = {'scale_x': False, 'scale_y': False} in the method file to set this. For KernelRidge [scaling X is important](https://sebastianraschka.com/Articles/2014_about_feature_scaling.html), but we could probably turn it off for `y` and for tree methods.

closing now, but feel free to open back up if needed.

[2021-04-14 16:02] #18 closed

[2021-04-17 00:34] foolnotion opened #21 "Methods install scripts"
Hi,

I wanted to point out some issues with the environment/install scripts:

**Bash scripts**

1. The install scripts should not require elevated privileges ("sudo"). anaconda/miniconda is normally installed in an unprivileged location (home folder), so it shouldn't be necessary to do anything as root. This seems to trip some things up in some cases.

2. Some rudimentary way to check if a script

[2021-04-17 20:26] lacava commented on #21
all sounds good, thanks.

I have to revisit, but `sudo` was necessary for the GP-GOMEA install. Do you have a suggestion for https://github.com/EpistasisLab/srbench/blob/master/experiment/methods/src/gpgomea_install.sh to get around `sudo make`?

[2021-04-17 20:40] #15 closed

[2021-04-17 20:42] lacava commented on #4
@folivetti hope you got my email, but just checking if you think you'll have time to get ITEA integrated this week? many thanks!

[2021-04-17 20:43] foolnotion commented on #21
I just tested again and had no issue installing without sudo, a simple `make install` works if the install destination is writable, mine is under   `~/miniconda3/envs/srbench/lib/python3.9/site-packages/pyGPGOMEA` so it does not need any special privileges.

[2021-04-17 21:06] folivetti commented on #4
yes, I did receive the e-mail, thanks :-)
I have everything ready and should make the PR tomorrow. I'm just running some tests to double check that everything works. Thanks!

[2021-04-18 21:11] lacava commented on #21
I made most of the suggested changes in https://github.com/EpistasisLab/srbench/commit/727c9332be73d5e8270f5d6d261a5cf8e4ab6cfb . The github actions workflow passes fine with all sudos removed. Locally, for operon, I am getting this error:

[code]
Other notes:

I'm not sure about this since the build scripts are succeeding for GP-GOMEA, using miniconda and the current environment (e.g.  https://gi

[2021-04-18 21:22] foolnotion commented on #21
If you had previously installed operon with `sudo make install`, the operon folder inside site-packages will belong to root, therefore giving the permissions error. A `sudo rm -rf  /home/bill/anaconda3/envs/srbench/lib/python3.9/site-packages/operon` will probably fix it.

Regarding `pkg-config`, the important thing is that `pkg-config --cflags python3` returns the right thing, since it is needed

[2021-04-19 15:07] foolnotion opened #24 "Discussion of methods parameters"
Hi,

I am opening this issue to start a discussion about the settings and computational limits of the methods. I added some of the email comments in there, feel free to edit!

### Evaluation budget

There will be a fixed evaluation budget that each method can expend in its own way. **Suggested budget:** 500,000 evaluations.

#### Things to consider:

- implementations take different amounts of tim

[2021-04-19 16:21] marcovirgolin commented on #24
Hi,

Perhaps a _partial_ solution to the fact that tree size plays a role and some methods use mini-batches is to have a budget that takes into account:
[code]

Or, perhaps even more simple to implement, set a total the budget to be a total number of **component calls** budget (i.e. exclude `num_observations_used_to_evaluate`) and then:

1. When computing the loss (no matter if within the fitness

[2021-04-19 19:00] lacava commented on #24
Yes, I'm currently planning to compare all methods on [process time ](https://github.com/EpistasisLab/srbench/blob/1ad633974c9126a8eb6ce936873d2e9b3d40294c/experiment/evaluate_model.py#L115)

I think you are right @marcovirgolin that having a total component evaluation budget (sometimes called "point evaluations") would be even more fair... but I'm skeptical we can get it implemented equivalently

[2021-04-19 20:10] folivetti commented on #24
if we think only about the evolutionary methods, how many of them does have local search and or mini-batch? If only those maintained by the people involved in this repo, we could go with @foolnotion and @marcovirgolin suggestions:

- limit to 500k evaluations
- count local search evaluations
- multiply by a factor of the mini-batch

In any case, it would also be interesting to have an estimate of

[2021-04-19 20:45] mkommend commented on #24
Just to add my 2 cents to the discussion as well. Unfortunately, I haven't come across the ultimate method for performance comparison of algorithms for symbolic regression. Every metrics has some kind of shortcomings, i.e. wall clock time includes the efficiency of the implementation, number of evaluated solutions does not take local search into account,or point evaluations omit the overhead of so

[2021-04-19 22:16] lacava commented on #21
two issues:

- ITEA (@folivetti) requires sudo within the curl " " | sh step installing haskell
- after adding pkg-config dependency I get an error with ITEA: https://github.com/EpistasisLab/srbench/runs/2384207661?check_suite_focus=true#step:7:171

[2021-04-19 22:52] folivetti commented on #21
Regarding 1, installing Haskell stack will only require sudo if one of the requirements are not installed by default. From the top of my head it will require GMP and maybe ffilib.

The second problem is also related to the lack of sudo, it needs to have these libraries installed

GSL
BLAS
LAPACK

[2021-04-20 12:18] folivetti commented on #21
I think you could add the following conda packages in the `environment.yml` file:

`gmp, libffi, gsl, libblas, liblapack`

and everything should work (including not requiring a sudo)

[2021-04-20 14:49] mkommend opened #26 "scaling of input data"
I have had a quick review of the benchmarking pipeline to better understand how the comparison is performed. During that review I noticed the scaling is always performed while reading the data files using a RobustScaler from sklearn.

https://github.com/EpistasisLab/srbench/blob/1ad633974c9126a8eb6ce936873d2e9b3d40294c/experiment/read_file.py#L32

The actual model is generated in the evaluate mode

[2021-04-20 15:17] lacava commented on #26
that is indeed an artifact, thanks for catching!

[2021-04-21 17:40] lacava commented on #24
Based on the discussion it seems we're agreeing on a limit of 500,000 evaluations, including local search evaluations and accounting for mini-batch size.

Another practical issue is maximum run-time on the cluster. Our short priority queue has a max of 24 hours, which would be an ideal limit for us, but based on our last experiment I'm not sure some of these methods will finish individual runs on

[2021-04-21 19:02] foolnotion commented on #24
I have added a time limit for Operon. I was reluctant to do it before because I thought it would introduce non-deterministic behavior and impact reproducibility, but that's something the user must be aware of. However, like @mkommend mentioned above, a time limit might mean that you benchmark not only the method but also the implementation.

Maybe let them time out the first time around (it probab

[2021-04-21 19:20] folivetti commented on #24
I would rather reduce the max number of samples for everyone and, just then, reducing it even more for those algorithms that timed out. But I would make sure everyone can run all of the 500k evaluations, for the same reasons pointed out by @foolnotion and @mkommend .

Could you make a single run of each algorithm (not the grid search, just for a single hyperparameters setting) with the `201_pol` d

[2021-04-22 08:46] marcovirgolin commented on #24
- I think 500K is nice but, mayyyybe, if time allows, we could also consider rounding up not round up to 1 million? :)
- My code can use a time limit already, and it is a good idea to use it as a hard deadline IMHO.
- I think the `n_samples` that is sufficient may well depend on the dataset. The first thing that comes to my mind to estimate the right `n_samples` (of a dataset), is to use some rela

[2021-04-22 20:45] folivetti commented on #24
I've run ITEA for 564_fried dataset on my local machine using 500k evaluations. A single run of the grid search with 6 combos using HalvingGridSearch with 5 folds took about 10 hours.

[2021-04-23 15:06] lacava commented on #24
Did you restrict it to one thread?

I would also like to do 1 million, but I know that this will make the experiment much more difficult. Then again, if we set time limits, it shouldn't be too much of a problem.... as others have mentioned this would put us further towards benchmarking implementations rather than methods. Personally I am ok with that, given that 24 - 72 hours is a reasonably gener

[2021-04-23 15:36] folivetti commented on #24
forgot about that :-D it used two threads. I'll try to repeat this experiment tomorrow with a single thread.

[2021-04-23 15:45] marcovirgolin commented on #24
@lacava great that we use the same data splits for each algorithm. That'd basically mean we don't have an issue with variance due to `n_samples` being too small as every algorithm runs on the same samples. Maybe something to keep in mind if a reviewer asks.

About my suggestion to reach 1M

My personal preference then would be to keep the evaluation budget smaller (even though my own code is C++)

[2021-04-23 16:05] #26 closed

[2021-04-26 08:31] foolnotion commented on #3
In our trees, variable nodes have an associated weight, so that the output is always weight x variable value (from the dataset). Currently, these are not counted towards the complexity (e.g., a variable node has complexity 1).

Should we change this to take the multiplication into account? Such that `complexity(variable node) == complexity (Multiply(variable node, constant node)))` = 3 ?

[2021-04-26 13:40] lacava commented on #3
@foolnotion yes, the multiplication should count. I did something similar for [FEAT](https://github.com/EpistasisLab/srbench/blob/89d43454940eda8fc59489b50b5bdf28a397d228/experiment/methods/FEATRegressor.py#L30)

[2021-04-29 14:50] lacava commented on #24
Thanks everyone for your input. I'm working on finalizing the settings, adding a sklearn API for [AI-Feynman](https://github.com/SJ001/AI-Feynman), and testing runtime on 201_pol as @folivetti suggested. (It does seem like most methods finish under 8 hours, but all have not completed). I've done some dry runs and everything is more or less working.

Here's what we have:

*Experiment Settings*
- _M

[2021-04-29 15:19] marcovirgolin commented on #24
Now it's off, I will make a pull request with hyper-parameter settings so that there are 6 settings in total, and that the evolution stops at 500K evaluations. I will also add `sin` and `cos` as you suggest.

I personally think that depends on what you want to claim. Simplification might cause misattribution of merit. For example, algorithm A that includes a smart complexity penalization term in t

[2021-04-29 15:22] lacava commented on #24
That's a good point. I'll try to capture both separately.

[2021-04-29 15:36] marcovirgolin commented on #24
I have a few questions:
- Do we have a limit on the maximum solution size? (that can really impact how long an evaluation takes and fitting capability)
- What is the minimum function set that allows to reconstruct the exact formulas? So far I get we should include `sin` `cos` (and, I guess, `+ - * /`)

[2021-04-29 18:43] foolnotion commented on #24
I think it's ok to simplify especially for GP where the encoding is inherently redundant (e.g. typically, only binary symbols are used, so n-ary operations are emulated via nesting), not to mention the inevitable bloat. It seems perfectly fine to compare simplified models, as this is a routine step during post processing anyway. Like @marcovirgolin suggested you could compare both versions (simpli

[2021-04-29 21:47] lacava commented on #24
@marcovirgolin

At the moment, no. We are assessing generalization error, complexity and run-time, which means methods with bigger max sizes might be more accurate but might be more complex / having longer running time. We could try to decide on a common setting but I'd worry about differences in what defines solution "sizes" between methods as well. What do you think?

I'm wary of giving the exac

[2021-04-29 22:20] lacava commented on #24
reflecting on this a bit, not many of our methods have `asin` or `acos`. it may make sense to drop those problems, of which there are only a few, rather than have everyone add those operators.

[2021-04-29 23:05] folivetti commented on #24
btw, one of my students added the functions `sqrt, tanh, exp, log, sin, cos` into the GSGP code you're using: https://github.com/gAldeia/SOFTX_2019_170

He hasn't changed anything beyond that. Unless you want to run the experiment only with code provided by the authors, feel free to use this version.

[2021-04-30 11:56] marcovirgolin commented on #24
Hm, surely the limit we set does make a difference runtime-wise, at least for the more "traditional" GP encodings. In my experience, given enough run time, the avg. model size of the pop tends to converge to the maximum allowed size.  Given what you say, I guess we could consider this max size to be a hyperparam setting as well then, aimed at e.g. controlling for generalization.  This way we don't

[2021-05-03 19:55] lacava commented on #24
OK, some updates:

I'm planning to set a single-train instance limit of *2 hours* for each method (where possible). That translates to ~ 40-48 hours per dataset:

- With hyperparameter tuning via HalvingGridSearchCV, there are roughly 20*T model trainings per run, where T is the dataset size. My goal is to limit runs to roughly 48 hours (40 hours + 8 hours of flex).
- Based on the 201_pol problem

[2021-05-04 06:31] gkronber commented on #4
I'm adding a few more methods for future reference.
- [ ]  Equation Learner (EQL) https://github.com/martius-lab/EQL (already has Python code)
- [ ]  Continued Fraction Regression (CFR, I reached out to the corresponding author https://www.sciencedirect.com/science/article/abs/pii/S0957417421004590)
- [ ]  Universal Functions Originator (UFO, https://ieeexplore.ieee.org/abstract/document/9409797)

[2021-05-04 11:25] folivetti commented on #24
Very nice! I'm looking forward for the results. It will certainly help us to determine the current state of Symbolic Regression and what we need to improve in our own methods.

Just to be sure, have the experiments already started? I'm asking because I'm doing some optimizations in my own code that could help cut down the total runtime.

[2021-05-04 12:55] lacava commented on #24
Yep, everything is running now. But feel free to update for the next round!

[2021-05-04 13:21] lacava commented on #21
I believe all of this is resolved now, let me know if you have additional ideas for the install script!

[2021-05-04 13:21] #21 closed

[2021-05-04 13:23] lacava commented on #4
Thanks for the list @gkronber. Deep SR is [implemented](https://github.com/EpistasisLab/srbench/blob/master/experiment/methods/DSRRegressor.py) and i'm working on AI-Feynman

[2021-06-11 09:17] zhenlingcn opened #41 "Is it possible to provide complete experimental results?"
This project is awesome and I believe it can greatly promote the advancement of Symbolic Regression domain. However, a critical issue is that we don't have enough computational resources to repeat the full experiment. Therefore, is it possible to provide complete experimental results for us to directly use in our paper? I will be grateful if such results can be provided.

[2021-06-11 13:46] lacava commented on #41
yep, they will be available shortly. had to change the project from a public fork to its own repo in order to use Git LFS for storage. Stay tuned!

[2021-06-11 13:49] lacava commented on #41
also, @zhenlingcn, if you [contribute a method](https://github.com/EpistasisLab/srbench/blob/master/CONTRIBUTING.md) in the near future, we can benchmark it for you. we may not have the resources to do that forever, so now is a good time to take advantage of that :)

[2021-06-11 14:01] lacava commented on #41
see https://github.com/EpistasisLab/srbench/tree/master/results

[2021-06-11 14:01] #41 closed

[2021-06-12 04:43] zhenlingcn opened #42 "How to get the summarized experimental results?"
I have executed the experiment script and it outputted several JSON files. However, an issue is that it seems that there is no script that can aggregate these results into a single file. Therefore, my question is, is there any additional analysis tool affiliate with this benchmark package?

[2021-06-12 05:49] zhenlingcn commented on #42
I have implemented it by myself.

[code]

[2021-06-12 05:49] #42 closed

[2021-06-12 11:06] folivetti opened #43 "instructions to clone pmlb does not work"
the command `git clone https://github.com/EpistasisLab/pmlb/tree/feynman` does not work, it says

`fatal: repository 'https://github.com/EpistasisLab/pmlb/tree/feynman/' not found`

but using `git clone https://github.com/EpistasisLab/pmlb.git` seems to work ok. The fetch command downloads 299 files in total.

[2021-06-12 12:08] folivetti commented on #43
also, after `git lfs fetch` it may be required to do a `git lfs pull`

[2021-06-14 15:23] lacava commented on #43
right it should be `git clone -b feynman https://github.com/EpistasisLab/pmlb/`

[2021-06-14 15:26] #43 closed

[2021-06-16 19:19] zhenlingcn commented on #41
@lacava
Thanks for providing the experimental data. I see that there are 25346 items in that file, however, there are 21 algorithms. After a brief investigation, I found that some data might be missing, such as those related to "AIFeynamn", "Feat" and "MRGP". So, how should we deal with this problem?

[2021-06-16 21:03] lacava commented on #41
Yes, but we encountered some training failures. Our protocol for failed runs was as follows. For the black-box problems, if a job was killed due to the time limit, we re-ran the experiment without hyperparameter tuning, thereby only requiring a single training iteration to complete within 48 hours. If the job still failed, or failed for other reasons, the results for that method-dataset-seed combi

[2021-06-22 12:32] zhenlingcn opened #44 "How do I correctly run the statistical comparison?"
I am glad that most of this repository is replicable. However, it appears that the statistical comparison part is unable to correctly deal with the provided experiment result. There are several missing values for FEAT and MRGP in the provided file. As a result, the Wilcoxon signed-rank test cannot function properly during the statistical comparison process. So, how should we approach the problem?

[2021-06-22 15:19] lacava commented on #44
Hi, can you be more specific? Are you not able to reproduce [this notebook](https://github.com/EpistasisLab/srbench/blob/master/postprocessing/statistical_comparisons.ipynb)? Note it requires running the black-box and ground truth notebooks first to produce summary rankings for the stats comparisons. I described in issue #41 how we handle failed runs for the statistical comparisons. Note that for

[2021-06-22 16:59] zhenlingcn commented on #44
Okay, thanks for your response. It's true that I should run the black box notebook in advance.  I didn't realize that the notebook requires a file where it comes from the running result of the black box notebook. Thank you for your response. I have solved my problem.

[2021-06-22 16:59] #44 closed

[2021-07-16 08:20] zhenlingcn opened #48 "Is there any future plan for supporting classification benchmarks?"
In 2014, a paper published in JMLR reported the results of more than 100+ classification algorithms on numerous classification benchmark datasets [1].
However, it seems that such a paper does not consider the genetic programming based methods, such as M4GP [2]. Consequently, is it possible to develop a classification benchmark to further boost the advancement of genetic programming and even the ma

[2021-07-16 16:30] lacava commented on #48
We have certainly thought about incorporating symbolic classification algorithms into our benchmarking. They are a bit less common in SR literature, but nonetheless I agree such a benchmark would be very useful. I could see it being an addition to this repo.

[2021-07-17 09:29] zhenlingcn commented on #48
Are there any specific plans with respect to this matter? In my opinion, it seems all analysis scripts can be reused, and we only need to change experimental datasets to those classification datasets in PMLB database, and change those machine learning estimators to its classification counterpart.

[2021-07-17 11:14] zhenlingcn commented on #48
By the way, I'm not sure about whether we should reuse the results reported in the previous large-scale benchmark paper. The classifiers used in that paper are rather old, and it doesn't include SOTA classifiers such as XGBoost and LightGBM. Consequently, it is questionable if it is necessary to use the existing results of that article. And even worse, some papers pointed out that results are obta

[2021-07-22 06:47] zhenlingcn opened #49 "Support for a better result report"
Now, it seems that the reports generated by those report scripts are too crude. Some important indicators in the AutoML domain, such as significance test and mean accuracy among all tasks, are not presented. In my research domain, there is a benchmark project named "srbench" (https://github.com/EpistasisLab/srbench). It provides a good example for showing above-mentioned metrics. Consequently, I h

[2021-07-29 15:50] lacava commented on #49
did you post this to the wrong repo?

[2021-07-29 15:52] lacava commented on #44
I wanted to mention in commit 63637df41f597d2753e29601ae02fc60aee99890 we added collate scripts to post-processing, so the gap between the `.json` results and saved `.feather` results is eliminated.

[2021-07-29 15:53] lacava commented on #42
I wanted to mention in commit 63637df41f597d2753e29601ae02fc60aee99890 we added collate scripts to post-processing, so the gap between the `.json` results and saved `.feather` results is eliminated.

[2021-07-29 16:02] lacava opened #50 "broken links on website"
@folivetti i'm noticing some of the links on the website are broken, probably because they are copied straight from the markdown files that have relative paths (e.g., `https://epistasislab.github.io/srbench/CONTRIBUTING.md`)

Do you have any free time to update them? thank you!

[2021-07-29 16:13] folivetti commented on #50
sure thing! I'll try to do it later today or, at the latest, by tomorrow.

Should I also put the NeurIPS paper in "Cite" section (marked as accepted for publication)?

[2021-07-29 16:40] zhenlingcn commented on #49
Sorry, it's my fault.

[2021-07-29 16:40] #49 closed

[2021-07-29 20:27] athril commented on #48
I don't think we currently plan to work on a large scale benchmarking of classifiers with specific focus on GP-based ones.
Please notice that the datasets included in srbench are regression problems, PMLB covers over 165 classification problems as well.
Nonetheless, you might be interested in taking a look at the following papers that cover more recent methods:
https://biodatamining.biomedcentral.

[2021-08-03 02:52] #50 closed

[2021-08-25 06:41] yoshitomo-matsubara opened #54 "Ground-truth datasets are broken?"
Hi!

Thank you for your great work and framework!
I wanted to try the benchmarked methods for the ground-truth datasets (i.e., Feynman and Strogatz datasets) and followed [the instructions in README](https://github.com/EpistasisLab/srbench#installation).

# Is each of the datasets not in gzip format?
However, the datasets fetched from the pmlb repository look broken. Here is one of the errors I go

[2021-08-28 05:39] lacava commented on #54
glad you found a solution. i believe `git lfs pull` additionally checks out the branch but fetch will pull the files. I'll update the instructions for the main PMLB branch asap.

[2021-09-03 06:01] yoshitomo-matsubara commented on #54
Thank you for updating the repo! I'll close this issue

[2021-09-03 07:04] yoshitomo-matsubara opened #55 "To reproduce results for the ground-truth datasets"
Thank @lacava for helping me resolve [the dataset issue](https://github.com/EpistasisLab/srbench/issues/54) last time.

Based on the command in README, I tried to reproduce the results reported in Figure 3 of [your recently accepted paper](https://openreview.net/pdf?id=xVQMrDLyGst) for both Strogatz and Feynman datasets, and found some concerns/questions.

## 1. How should we see the produced resu

[2021-09-10 16:33] lacava commented on #55
Hi @yoshitomo-matsubara sorry for the delay, and also thanks for taking a deep dive. I will try to answer all your questions below. Some of them involve improvements to the repo workflow that we should separate out as issues.

You're welcome

These are the full steps:

1. This is the full script for running the ground truth experiment:

[code]
The `job_limit` parameter was necessary for our cluste

[2021-09-10 17:08] folivetti commented on #55
regarding Operon maybe running `source activate srbench` before running `instal.sh` solves the issue.

In any case, I had another compilation problem and @foolnotion  helped me out with a patch:

remove the following from environment.yml:

 - pybind11=2.6.1
 - tbb-devel=2020.2

then add the following into environment.yml:

- taskflow=3.1.0
- pybind11=2.6.2

in `srbench/experiments/methods/src/oper

[2021-09-10 17:36] foolnotion commented on #55
@yoshitomo-matsubara It's best to let conda handle all the dependencies and not mix system libraries with conda/vcpkgs/etc. The Ceres cmake module will complain if the Eigen version detected is different from the version Ceres itself was compiled with.

I will have to do a PR soon to update operon. There is one last thing to finish before I do that, namely to integrate NSGA2 into the python module

[2021-09-14 12:50] yoshitomo-matsubara commented on #55
# @lacava
Thank you for the detailed answers! I think many of my questions above are resolved now.

a and b can be any values subject to the definition constraints, because we are using sympy to symbolically compare the equations.

Could you clarify this point little bit more? Does it mean the equation comparison (between estimated and ground-truth equations) is completely left to sympy and the co

[2021-09-14 14:03] lacava commented on #55
Yes. Sympy evaluates the equations symbolically, meaning without any real values being passed. So the result of comparing the true equation and model is a symbolic equation, and assessed as such.

This limits the training of a model on a single dataset for 1 trial. This time limit is sent to the job scheduler.

Here are some options, depending on your goals. Are your goals to reproduce the entire

[2021-09-14 14:51] yoshitomo-matsubara commented on #55
@lacava

Thank you for the further clarification and suggestions. My goal is 1) to apply the SR methods to my internal datasets (which cannot be shared at this moment) and 2) compare the performance with my proposed SR model for a paper I'm working on. This is why I've been seeking for the way to leverage this great project.

[2021-09-14 14:58] foolnotion commented on #55
@yoshitomo-matsubara I will try to provide a docker image for you, but I don't know how long that'll take as I don't have a lot of experience with docker. In the meanwhile, please create an issue on our project's page and describe your installation steps.

Regarding the computational costs of running the benchmark, I've recently had a good experience with the AWS cloud. You can get a good price if

[2021-09-14 15:32] yoshitomo-matsubara opened #56 "Dockerfile for SRBench"
Hi @foolnotion
Here are the docker file (zipped as GitHub doesn't accept Dockerfile here) and steps that fail to install Operon and you requested in #55
[Dockerfile.zip](https://github.com/EpistasisLab/srbench/files/7163182/Dockerfile.zip)

Unzip the dockerfile
[code]

Build docker image
[code]
Run docker
[code]

As [suggested](https://github.com/EpistasisLab/srbench/issues/55#issuecomment-9170670

[2021-09-14 15:33] yoshitomo-matsubara commented on #55
@foolnotion Thank you for the offer. I just created a new issue for Dockerfile #56

[2021-09-14 17:36] foolnotion commented on #56
There are two issues:

1. eigen is pinned to version 3.3.9 in `environment.yml`, but Ceres wants 3.4.0
2. your system's C++ compiler is too old (g++ 8.3.0)

These changes should fix the issues:

[code]

[2021-09-15 02:48] yoshitomo-matsubara commented on #56
@foolnotion Thank you for the update. As seen in the first Dockerfile, I tried to update gcc and libeigen myself, which didn't resolve the issue. It is interesting to see those were updated through conda while `apt install` with specified didn't update their versions.

With the above changes, operon was successfully installed, but it caused new errors for DSR and returned "2 installs failed: dsr_i

[2021-09-15 10:58] foolnotion commented on #56
I didn't change anything else. This looks like a linker error, which suggests that something is broken within the conda environment. My first suggestion would be nuke everything and do a fresh install. I found numerous instances of the same linker error on the internet but no clear solution.

[2021-09-16 05:05] yoshitomo-matsubara commented on #56
@foolnotion Thank you for the suggestion.
I think I resolved it by installing gcc, gxx, eigen, and taskflow to conda as part of `operon_install.sh` (see below). Closing this issue now.

[code]

[2021-09-16 05:13] yoshitomo-matsubara commented on #54
@lacava
It looks like the feynman datasets in PMLB are still incomplete.

`metadata.yaml` files in strogatz datasets look complete, and `analyze.py` works with the datasets.
However, the `metadata.yaml` in feynman datasets are incomplete (description = 'None yet. See our contributing guide to help us add one.'), thus failed to get `model_str` (equations?) and `analyze.py` failed as follows

[code]

[2021-09-16 05:26] yoshitomo-matsubara commented on #55
@lacava

# Inconsistency between the numbers above and those in Table 2

[code]

[Table 2 of the paper](https://openreview.net/pdf?id=xVQMrDLyGst) (when accepted) says `No. of trials per dataset` is 10 while the above one shows `-n_trials 1` with 15 random seeds (15 trials per dataset). Which one is used for the results reported in the paper?

# Exact commands to complete train-to-evaluate pipelin

[2021-09-16 13:56] lacava commented on #54
thanks for checking. hm, some of the changes didn't make it into master... i'll look into it.

[2021-09-16 14:01] lacava commented on #54
issued a PR on PMLB to resolve: https://github.com/EpistasisLab/pmlb/pull/158
will check back once it is merged into master.

[2021-09-16 14:05] lacava commented on #55
You'll notice there aren't 15 seeds up there. As I mentioned above,

This is probably unnecessarily complicated, so I'm planning to update SEEDS.py to make the seeds contiguous for reproducing.

I'll update the readme. In the mean time please read my steps above.

[2021-09-16 14:32] yoshitomo-matsubara commented on #54
@lacava
Thank you for the update! Let me know here once it's merged into master

[2021-09-16 14:35] lacava commented on #54
merged, please update [PMLB](https://github.com/EpistasisLab/pmlb)

[2021-09-21 14:59] lacava commented on #55
hi @yoshitomo-matsubara , see the README updates

[2021-09-21 15:09] lacava commented on #24
seems like most of these issues are settled; closing for now

[2021-09-21 15:09] #24 closed

[2021-09-21 15:09] #2 closed

[2021-09-21 15:10] lacava commented on #5
this is now available on the github page, thanks @folivetti

[2021-09-21 15:10] #5 closed

[2021-09-21 15:21] #55 closed

[2021-09-21 15:55] lacava commented on #56
I'm confused why Ceres is all the sudden complaining about the eigen version when eigen, ceres, and operon are all fixed versions. @foolnotion do you understand it? current master branch builds are starting to fail with this same error.

i'm ok to update operon but want to keep the version used in the latest experiment active in an upcoming release.

[2021-09-21 16:33] foolnotion commented on #56
@lacava I believe the reason is because Ceres enforces (via its cmake scripts) that the same Eigen version is used (when building code including Ceres headers - Operon) as the version used to build the Ceres library itself. Since the conda-provided Ceres was built against Eigen 3.4, but the `environment.yml` pinned Eigen at 3.9, the cmake script throws an error.

The fix is simple: bump Eigen to 3

[2021-09-21 16:37] lacava commented on #56
eigen 3.4 makes FEAT fail actually. some syntax change in Eigen. plus, we should be able to fix the environment to what was used to produce the results.

it turns out ceres doesn't update its version with releases. trying now to specify the version from 4 months ago https://anaconda.org/conda-forge/ceres-solver/files

[2021-09-21 17:21] lacava commented on #56
thanks @foolnotion, I'll update FEAT. For SRBench I'm pushing an update to the environment that specifies a specific ceres package from conda that was used a few months ago.

[2021-09-22 13:44] lacava commented on #56
Hi @yoshitomo-matsubara, if you are interested in contributing a Dockerfile to this repo that would be great. I'll close this issue for now since that wasn't its original goal, but open a new one to that end. I think that might be a better approach than trying to fix/lock conda env for different OSes, although both could work...

[2021-09-22 13:44] #56 closed

[2021-09-22 13:48] lacava opened #57 "Docker environment"
Create a docker environment for installing and running srbench. Include an image with releases.

Docker isn't supported by the cluster I'm using, unfortunately. But I think it could be a good way to manage version control going forward.

Also: see #56 for an example starting point

[2021-09-22 13:51] lacava opened #58 "sympy-compatibility of final model strings"
At the moment a lot of preprocessing is done to convert the models returned by different methods into a common, sympy-compatible format in [experiment/symbolic_utils.py](https://github.com/EpistasisLab/srbench/blob/master/experiment/symbolic_utils.py).

I would like to remove this post-processing step and, in the future, require methods to return sympy compatible strings. Steps:

1. Move centraliz

[2021-09-22 14:22] yoshitomo-matsubara commented on #56
Hi @lacava,

Sure, I'll send a PR with Dockerfile soon

[2021-09-25 13:36] zhenlingcn opened #60 "Is it appropriate to use halving grid search as a hyper-parameter tuning strategy?"
As for the default hyper-parameter tuning strategy, I find this benchmark using the halving grid search method. To begin, I admit that the traditional grid search strategy is impractical due to the prohibitively expensive computational cost. However, when we use the halving grid search method and the parameter grid is large, as in the case of XGBoost. The first few rounds of hyper-parameter search

[2021-09-26 02:15] zhenlingcn commented on #60
I think it is necessary to add some further explanations here. Recently, I found one paper using Bayesian optimization technique to tune the hyperparameter in their experiments [1]. This inspired me to ask this question because I want to know which method is much better.
[1]. Gorishniy, Yury, et al. "Revisiting Deep Learning Models for Tabular Data." arXiv preprint arXiv:2106.11959 (2021).

[2021-11-02 21:58] lacava commented on #60
This paper makes a good case for the appropriateness of successive halving as a hyperparameter optimization algorithm with decent guarantees: http://proceedings.mlr.press/v51/jamieson16.html. That said, I haven't run the experiment (comparing grid search with successive halving) in our context. We did use grid search for the [where are we now? paper](https://arxiv.org/abs/1804.09331) (the first SR

[2021-11-02 21:58] #60 closed

[2021-12-12 01:44] MilesCranmer commented on #4
Hi @lacava et al., thanks for making this benchmark suite, it looks great! I just found out about your efforts on this today, I think it is a great idea.

I would be interested in helping add my methods: the Julia library [SymbolicRegression.jl](https://github.com/MilesCranmer/SymbolicRegression.jl) (mentioned in @gkronber's post) and the Python frontend [PySR](https://github.com/MilesCranmer/PySR

[2021-12-13 15:13] lacava commented on #4
Great! Thanks for reaching out.

We should definitely be able to support Julia. It will be easiest if there is a conda dependency for it. But we also are moving towards a Docker environment eventually.

In our [current experiment](https://datasets-benchmarks-proceedings.neurips.cc/paper/2021/hash/c0c7c76d30bd3dcaefc96f40275bdc0a-Abstract-round1.html) (Table 2) we set the termination criteria to 50

[2021-12-13 19:07] MilesCranmer commented on #4
Thanks! This is very helpful.

I have a quick followup question about the suite. Are you benchmarking accuracy, or parsimony, or some combination? Or are you evaluating whether the recovered sympy expression is equal? PySR's default choice for "best" is similar to Eureqa, where they look for "cliffs" in the accuracy-vs-parsimony curve.

Also - final question - can the model use a different set of

[2021-12-14 14:55] lacava commented on #4
It's probably worth checking details in the paper.  we broke the comparison into real-world/"black-box" problems with no known model, and ground-truth problems generated for known functions. we benchmark accuracy and parsimony in the former case and symbolic equivalence (within a linear transformation of the true model) in the latter.

We don't support this at the moment, but most of the benchmark

[2021-12-22 19:13] lacava commented on #58
that's actually exactly how we're defining complexity:

https://github.com/cavalab/srbench/blob/e5ded4715ed5721703353d3500a2fdb99004faf1/postprocessing/symbolic_utils.py#L12-L16

And i'm using new operators for things like protected log

https://github.com/cavalab/srbench/blob/e5ded4715ed5721703353d3500a2fdb99004faf1/experiment/symbolic_utils.py#L42-L49

The protected division might be good to add

[2022-01-14 16:48] sdascoli opened #61 "Scikit-learn version issue ?"
Hi, I am encountering the following ImportError:
```ImportError: cannot import name 'HalvingGridSearchCV' from 'sklearn.model_selection'```
But I checked and my sckikit-learn version is 0.24.1, as required in the environment...
Should I be using a different version ?
Note : I also encountered errors when running ```conda env create -f environment.yml```, which prevented aifeynman and operon from b

[2022-01-14 17:03] #61 closed

[2022-01-15 04:07] MilesCranmer commented on #4
Added PySR and SymbolicRegression.jl in this PR: #62. Let me know what else I need to add, thanks!

[2022-01-21 19:18] lacava opened #64 "Use `micromamba` instead of `conda`"
One other suggestion: use `micromamba` instead of `conda` (mamba is a C++ rewrite of conda - it uses the same package servers but is **much** faster). The docker image `mambaorg/micromamba` which has `micromamba` built-in seems to work if all `conda` calls are replaced with `micromamba`. It's much faster for me!

_Originally posted by @MilesCranmer in https://github.com/cavalab/srbench/issues/59#i

[2022-01-21 19:25] MilesCranmer commented on #64
I think mamba can be set up in the GitHub actions with:
[code]
in the `conda-incubator` action. Source: https://github.com/conda-incubator/setup-miniconda#example-10-miniforge.

Once this is done, all that needs to be done is replace all `conda` commands with `mamba`. Maybe it could even be done by setting `alias conda=mamba`.

Alternatively, all `conda` commands could be replaced by `$(CONDA)` an

[2022-01-21 19:43] MilesCranmer commented on #64
Two other comments to get more speed:

- The `test.yml` should have each algorithm as part of a build matrix. That way, separate GitHub actions can test each algorithm in parallel. Thus, instead of having a 25 minute job that runs everything, you might have 15 jobs (limit is 25 jobs, so it's fine) which run in parallel for 10 minutes total.

e.g.,
[code]
you would then pass as an argument `${{ mat

[2022-01-21 19:59] MilesCranmer commented on #64
^ My first suggestion above is now a draft PR in #65

[2022-01-25 23:18] MilesCranmer opened #67 "Wall clock time benchmark"
As discussed in #62 with @lacava (and discussed a bit in #24 by others last year), I think a wall clock time benchmark would be a really nice complement to comparing over a fixed number of evaluations.

I think fixing the number of evaluations is only one way of enforcing a level playing ground. One could also fix:
- The number of mutations
- The number of subtree evaluations (i.e., count the # of

[2022-01-26 00:56] MilesCranmer commented on #67
One other point:

Number of evaluations becomes tricky to measure for deep learning models. How do I know a neural network has not learned how to do an internal evaluation of an equation? Perhaps some RL model is internally evaluating possible equations in the latent space before outputting an updated model.

Clock time is a universal way to bottleneck performance of deep networks or GAs in a way

[2022-01-31 00:41] lacava commented on #67
I'm definitely open to running a benchmark where methods just get a fixed budget of wall-clock time and memory. It has its own problems (measurement variability, cluster heterogeneity, bias towards implementation), but agreed that it is closer to real world use case.

In fact, we're hosting [a competition at GECCO 2022](https://gecco-2022.sigevo.org/Competitions#id_Interpretable%20Symbolic%20Regre

[2022-01-31 03:12] MilesCranmer commented on #67
Thanks for the detailed explanations! The competition is a great idea.

This makes sense for implementing the benchmark, but I think showing information about scalability is very important for real-world use cases. For me as a user I want an algorithm that can use all resources available to find the best equation in the shortest amount of time. This is not just an implementation detail, as some al

[2022-02-02 10:07] marcovirgolin commented on #67
I agree that including results w.r.t. a maximum time limit is interesting and can be very important in practice.

I think the best way forward is attempting to **include** wall-clock time-based experiments.
I do not think it should replace what we have now, because evaluations have their own pros and cons just like time has.

The thing that might be a possible issue is the aforementioned need for

[2022-02-02 11:36] MilesCranmer commented on #67
Definitely! There is no perfect metric, and I think wall clock time is just another datapoint, but it should not replace anything.  I simply think that giving sample efficiency alone is not enough to see the full picture, so wall clock time should be given as another feature.

I think reducing the # of problems makes sense if there is a computational limit, definitely. Not sure about dataset size

[2022-02-04 17:08] pakamienny opened #68 "Problems reproducing SRBench results [most methods fail or some runs go to an end.]"
Hello,
So I followed the conda installation guidelines using Anaconda (Anaconda3-2021.11-Linux-x86_64)
Below is the conda env description.
I use a forked version of srbench, unfortunately I am not able to push it, I don't know if it comes from me or the initial repo as I get the following error though I did not add large files to it:  "Account responsible for LFS bandwidth should purchase more dat

[2022-02-06 15:07] folivetti commented on #68
Hi, what exactly have you added to the repo folder before trying to push?
It seems to me that you may have downloaded the feather files and tried to push it into your fork or downloaded the pmlb benchmark and added to srbench directory before trying to push.

[2022-02-06 23:47] lacava commented on #68
hi @pakamienny, last month we went over the git LFS bandwith limits for the first time. I'm guessing that's what caused your issue. I bought a data pack that should fix things.

However I'm not clear on what / where you are trying to push.

[2022-02-07 14:03] pakamienny commented on #68
Thanks @lacava @folivetti for your answers. Pushing on my fork works now.
It appears some of the methods have installation issues (dependencies) which I did not see before. Note I followed the installation procedure.

For instance:
- FEAT: when importing FeatRegressor, " ImportError: libfeat_lib.so: cannot open shared object file: No such file or directory"
- MRGPRegressor: FileNotFoundError: [Err

[2022-02-07 16:29] folivetti commented on #68
have you executed `conda activate srbench` before trying to run the methods?
Note that this command is required before the installation and every time you open a new terminal to run anything inside srbench

[2022-02-10 18:15] pakamienny commented on #68
Thanks for the answer @folivetti . Indeed I did activate srbench before installation, and also before every run (proof is some of the baseline like Operon worked though I don't have its dependencies installed on any other envs. However, for verification I re-installed and it looks like most baselines work now (always a mystery)

I noticed that when the time out of the runs is shorter than what is

[2022-02-14 15:15] lacava commented on #68
not all the methods have a run-time limit, so unless we enforce them all to have one, we can't do that uniformly. we can open a separate issue to discuss if necessary

are you still experiencing an issue running the methods or is this issue resolved?

[2022-02-14 18:57] lacava opened #69 "Operon install script breaks version control"
@foolnotion the operon install script now installs a bunch of packages with no version control. We need to fix them to stable versions.
It's causing the current CI build to fail and is probably going to cause more down the road. Can you add `git checkout {version}` to each clone, or use packaged versions of the dependencies in conda instead?

[2022-02-15 15:20] #69 closed

[2022-02-15 15:27] lacava commented on #67
just thought i'd mention (in case anyone hadn't seen them) that there are additional comparison plots of runtime versus dataset size in https://github.com/cavalab/srbench/blob/master/postprocessing/blackbox_results.ipynb

e.g.:
![image](https://user-images.githubusercontent.com/6578458/154092919-a42f3a5c-f715-4386-bf2b-cd4425b6d903.png)

I like the idea of doing a controlled comparison of a small

[2022-02-15 16:49] lacava opened #72 "send PRs to the dev branch"
Just a quick note that new PRs should be submitted to the [dev branch](https://github.com/cavalab/srbench/tree/dev). The contributing guidelines have been updated accordingly

[2022-02-16 03:33] zhenlingcn commented on #48
@athril Thank you for providing the DIGEN package. This is exactly what I am looking for, excellent work!

[2022-02-16 03:33] #48 closed

[2022-02-16 18:27] pakamienny commented on #68
Thanks William for your answer.  I think this could be do-able by wrapping all methods under an other estimator with timeout class, but maybe this is not very important.

Maybe you could put the feather results of black box and symbolic data? This is a lot of compute to compute it for all methods and noise levels.

I have an additional question, relative to hyper-parameter selection done on the bl

[2022-02-16 22:19] lacava commented on #68
The feather results are available in the repo: https://github.com/cavalab/srbench/tree/master/results

If you aren't seeing them after cloning, you probably just need to run `git lfs pull`.

I'll add a note to readme to do this.

Actually I see now that the post-processing script is missing, I will add it.

We store the best hyperparameter settings from the black-box runs in the results, then for

[2022-02-26 03:58] #57 closed

[2022-02-26 04:04] lacava commented on #64
This is now the case since PR #75 .

However, I ended up not doing the builds in parallel because it resulted in several different environments that couldn't be easily reconciled into one. I could imagine it being cleaner to have containers for each algorithm with a base image that provides the suite; but at the moment I'm not set up to run it that way on the cluster due to constraints using docke

[2022-03-04 17:32] lacava commented on #68
hi @pakamienny thanks for the reminder, sorry for the delay. I have not forgotten, just bogged down. Should be done very soon.

[2022-03-11 07:20] lacava commented on #54
hi @marcovirgolin

you caught a set of changes I hadn't pushed into [PMLB](https://github.com/EpistasisLab/pmlb).

once the checks complete on https://github.com/EpistasisLab/pmlb/pull/160, you can update from the pmlb master branch.
for now you can checkout the strogatz_metadata branch. it seems to work for me on your example:

[code]

[2022-03-11 07:58] lacava commented on #68
@pakamienny see PR #78, especially https://github.com/cavalab/srbench/blob/dev/postprocessing/pick_best_params.py

the `params` result from the runs also needed to be added to `black-box_results.feather`.

[2022-03-11 16:28] #72 closed

[2022-03-11 16:31] lacava commented on #54
https://github.com/EpistasisLab/pmlb/pull/160 was merged. update PMLB from git and you should be good to go.

[2022-03-11 16:31] #54 closed

[2022-03-17 18:17] lacava opened #84 "PySR parameters"
@MilesCranmer can you specify the set of 6 hyperparameters you would like to use for benchmarking PySR? Going to start the runs. Hoping to have these by the end of tomorrow. They should match the original constraints:

- [ ] max evals = 500k
- [ ] 6 total combos
- [ ] finish within 24 hrs with hyperparameter tuning, within 8 hours with single call to fit

Currently hyperparameters are set small fo

[2022-03-17 20:29] MilesCranmer commented on #84
Hi @lacava,

Thanks for trying to integrate PySR into the benchmark. However I still need to add a mechanism in SymbolicRegression.jl for recording # of evaluations. This is tricky because PySR uses BFGS as part of the scalar constant search, so I need to figure out how to extract the number of evaluations used by the third-party BFGS implementation. Also, more generally, I have never tried tuning

[2022-03-18 18:36] lacava commented on #84
OK, sounds good. BTW, the [competition](https://cavalab.org/srbench/competition-2022) will not have a max_evals limit, just max time, as per #67. Hope to have a PySr submission there!

[2022-03-20 20:59] folivetti commented on #64
just to add to this issue. I tried installing `srbench` with a fresh Anaconda install on Manjaro Linux.
I've only succeeded by first changing `environment.yml` and specifying `python=3.7` and then using `mamba` to create the environment.

With conda it was taking ages to figure things out.

Also, I can confirm that using mamba PySR fails to install.

[2022-03-20 21:10] lacava commented on #64
It looks like the latest release of conda uses libmamba for resolving
dependences - is that what you're using @folivetti?

On Sun, Mar 20, 2022, 4:59 PM Fabricio Olivetti de Franca <
***@***.***> wrote:

[2022-03-21 10:09] folivetti commented on #64
I don't think so, I had to actually install mamba

My steps:

- installed anaconda
- `conda update conda`
- `conda env create -f environment.yml --debug`
- waited for a very long time until it got stuck checking conflicts between pyarrow and a bunch of other libraries
- stopped the process and installed mamba with `conda install -c conda-forge mamba`
- `mamba env create -f environment.yml --debug`

[2022-03-21 13:55] lacava commented on #64
@folivetti can you share your conda version? we can edit environment.yml to specify python 3.7.

[2022-03-21 13:57] folivetti commented on #64
@lacava

it's conda 4.12.0

[2022-03-28 15:31] doliveira4 opened #88 "Request for Instructions on How To run *just one* of the Experiments - to validate/debug the installation"
Hi there,

Would it be possible to add to your instructions
how to exactly run *just one* of the several Experiments?
Perhaps the simplest, fastest, non-empty, experiment - just for validation?

I can't get docker to finish executing, so I need to debug / validate my installation of 'srbench'.
I'm completely new to this toolchain, so a bit lost.

Many thanks.

[2022-03-28 15:49] folivetti commented on #88
in my experiments I executed the following steps for each dataset and seed:

[code]

assuming that the datasets are at your home directory. You should replace OperonRegressor with your own regressor.

[2022-03-28 16:23] lacava commented on #88
Also check the CI, which ones run experiment (very similar to above). this
is in test_evaluate_model.py

On Mon, Mar 28, 2022, 11:49 AM Fabricio Olivetti de Franca <
***@***.***> wrote:

[2022-04-13 15:40] lacava opened #91 "add local test script for competition submissions"
add a local script mirroring the CI process for users to test their submissions locally.
Came up in https://github.com/cavalab/srbench/discussions/81

[2022-04-13 16:29] folivetti commented on #91
doesn't your suggestion of bash script work?

[2022-04-13 16:38] lacava commented on #91
yes but i'd like to include that and an installation procedure more formally if possible

[2022-04-19 10:03] foolnotion opened #95 "Explore nix as conda alternative"
Hi,

Since this issue does not require other changes in this repo except for `flake.nix`, I took the liberty of working with the `dev` branch.

This allows [nix](https://nixos.org/download.html) to be used as an alternative to conda, with a bunch of advantages:

- conda lacks sane management of transitive deps leading to conflicts
- nix is far more robust and allows complete reproducibility
- fast

[2022-04-23 22:33] lacava commented on #95
thanks for working on this! i could see nix being a good option for managing dependencies, just have these concerns

1. everyone uses conda and/or has it if they have anaconda installed. i don't know too many people that use nix. maybe that's just my world but i imagine conda is generally much more popular/available.
2. to add to that, i had a hell of a hard time getting nix to install on ubuntu 2

[2022-04-23 23:48] foolnotion commented on #95
thanks for the input. I also think conda is much more popular at the moment and will remain of course the main provider for srbench, especially since nix does not support windows. however, in terms of robustness and customization, there are some good arguments in favor of nix.

now that we use mamba things are not so bad anymore but some issues still remain (for example, due to the gcc issue, oper

[2022-04-24 10:41] folivetti commented on #95
Let me add my two cents from the experience I had with srbench recently:

- Using `conda` is currently a test of patience, it seems to be taking ages to install the environment.
- After switching to `mamba` and activating debug mode, I could see that the problem was with solving the version of the packages such that there's no conflict; `mamba` was much faster to solve that but it reveals the prob

[2022-04-24 16:03] lacava commented on #95
All good points @folivetti. I think you should both take a look at the Competition2022 branch, where competitors DO live in separate envs. I was hoping to eventually move the main repo there.

Basically, there is a base srbench env that is then updated separately by each method. conda envs can be stacked by activating them sequentially with a flag (something like `--stack`), which helps minimize p

[2022-04-24 22:13] janoPig opened #99 "this is terrible"
I think this is terrible.
def model(est, X):
    mapping = {'x_'+str(i):k for i,k in enumerate(X.columns)}
    new_model = est.model_
    for k,v in mapping.items():
        new_model = new_model.replace(k,v)

replace x_1? if exist x_11?

simple this is solution:
 for k, v in reversed(mapping.items()):

[2022-04-24 22:35] lacava commented on #99
hi @janoPig

[please review ground rule #3](https://cavalab.org/srbench/contributing/#ground-rules)

if you want to be a jerk, do it somewhere else

thanks for the fix

[2022-04-24 22:35] #99 closed

[2022-04-24 22:36] foolnotion commented on #99
@janoPig thank you for the bug report. in the future please try to add helpful and descriptive titles to your issues.

 the presented snippet is illustrative only as we cannot know how you decide to name your variables internally in your model. the criteria for returning a sympy-compatible model string are clearly described in the competition guidelines.

[2022-04-25 11:11] folivetti commented on #95
Didn't know about the `--stack` flag! This would certainly be a solution!

I'm going to look at the Competition2022 branch (should have done that some time ago :no_mouth: )

[2022-05-02 15:07] Leoningel commented on #88
Where can I find the used datasets?

[2022-05-02 15:13] Leoningel commented on #88
Nevermind, found it (https://github.com/EpistasisLab/pmlb/tree/master)

[2022-05-07 05:35] LuoYuanzhen opened #112 "How to compare the ground-truth expressions with the sympy string"
Hi,

Recently I am implementing my SR algorithm for competition, everything is fine but I still have a question for this competition detail eventhough I have read the [Competition Guidlines](https://cavalab.org/srbench/competition-guide/).

Say a gound-truth model is `-1.6+x**2` and my model produces a string `log(|-0.2|)+x**2`, then according to the "regressor guide" in [Competition Guidelines](h

[2022-05-07 11:07] folivetti commented on #112
Hi @LuoYuanzhen in this example you should replace `|-0.2|` with `abs(-0.2)` so that you'll have the correct expression. Notice that Sympy is compatible with most (if not all) math functions in Python's `math` library.

[2022-05-07 13:09] marcovirgolin commented on #112
Actually, if I am not mistaken, we will still using the original estimator for predictions. The sympified version will be used for computing metrics such as complexity.
As such, you do not need to worry about implementing the conversion so that protection is preserved (this because people implement protections in different ways).

Please @folivetti and @lacava can you confirm if what I recall is c

[2022-05-07 13:29] folivetti commented on #112
For predictions we'll use the `predict` method provided by the corresponding regressor class. The sympy compatible expression will be used to measure complexity and whether it corresponds to the ground-truth, and we will use the `simplify` method to do that.

In that particular case where we have the `log` of a negative constant, you really should replace and simplify so that it will evaluate to t

[2022-05-07 16:17] LuoYuanzhen commented on #112
Glad to get your reply so quickly. Thanks for all your reply. Now I am totally understand!

[2022-05-07 16:17] #112 closed

[2022-05-08 22:38] MilesCranmer commented on #84
Submitted the updated regressor in #114 (which has a `max_evals` parameter). Not the competition submission yet, will get that done later this week.

[2022-05-09 04:20] MilesCranmer commented on #84
Also - will the same model be used for all tests in one go, or will the file be restarted each test? I ask because `model.fit` saves state (so that you can call `model.fit` repeatedly to get improved results), so it is necessary to call `model.reset()` if the same model will be used.

[2022-05-11 18:18] alcides commented on #91
I have tried to use [Act](https://github.com/nektos/act). It runs, but fails in one of the methods. I will take a look at this the comings days.

[2022-05-11 19:02] alcides commented on #91
The execution stops because of missing rsync command (which is installed in the machine, so it should be a misconfigured docker image). Full log: https://gist.github.com/alcides/271953941fff8fa3f4d915a857f63eb3

Is it possible for the output log to mention the tool that is being installed/prepared? Or is this output a global error in the script (that does not happen on GitHub)

[2022-05-11 23:46] lacava commented on #91
the output log mentions it as a notice in the `check` job, line 14 https://gist.github.com/alcides/271953941fff8fa3f4d915a857f63eb3 in this case it's geneticengine.

[2022-05-11 23:48] lacava commented on #91
the "get new folder name" step just looks for a difference in the `submission` folder commits between the a) PR and the base branch for PRs or b) the commit and the last commit for merges:

[code]

[2022-05-16 15:24] lacava opened #124 "Bingo: `bingo.bingocpp.AGraph` has no attribute `_update`"
@nightdr your submission didn't pass the tests on merge. can you figure out what is going on:

[code]

link:
https://github.com/cavalab/srbench/runs/6446882859?check_suite_focus=true#step:9:111

_Originally posted by @lacava in https://github.com/cavalab/srbench/issues/123#issuecomment-1127811152_

[2022-07-29 19:58] #124 closed

[2022-07-29 19:58] lacava commented on #88
appears resolved

[2022-07-29 19:58] #88 closed

[2022-09-08 15:17] lacava opened #132 "competition code suggestions"
Adding @janoPig other suggestions here (_also ref https://github.com/cavalab/srbench/discussions/131#discussioncomment-3272713_)

Some suggestions for published code here -> [https://github.com/janoPig/srbench/tree/srcomp](https://urldefense.com/v3/__https://github.com/janoPig/srbench/tree/srcomp__;!!NZvER7FxgEiBAiR_!rlg1kG8udKjpdfE7lW0FjV3oNA6_ZSXQAYi44lmn1lY_MOK9dYOj8UTi2gkbm-tYBOa0_pv6R859kPqe5

[2022-10-08 04:43] j29scott opened #134 "bsub/bjobs dependency?"
Hi, we are trying to run the tool locally, but are running into a dependency error. We believe we followed the instructions correctly.

![image](https://user-images.githubusercontent.com/34328384/194687962-4ecfdb57-b0b7-4bb4-805b-63bb6104e91f.png)

If you comment these lines out, we get the following.

![image](https://user-images.githubusercontent.com/34328384/194688297-87420e5d-26e9-473b-bb8d-77

[2022-10-08 07:02] marcovirgolin commented on #134
Please try to use the flag `-local`